* 
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

html 
  height: 100%

body
  background: url('https://media.giphy.com/media/26u6dryuZH98z5KuY/giphy.gif') no-repeat
  background-size: 100% 100%
  //background: #ccc
  padding: 1em
  font-family: arial, sans-serif
  +at-breakpoint($phone)
    background: #6dbeec

h1
  color: #0d004c
  font-family: arial, sans-serif

p
  color: #ccc
  font-family: arial, sans-serif

button
  background: #0d004c
  color: #0edce9
  cursor: pointer
  padding: 0.5em
  font-size: 1.2em
  margin-right: 1em

.mainScrn
  +span-columns(12)
  background: #2230b5
  color: #0edce9
  padding: 1em
  cursor: pointer
  margin-left: auto
  margin-right: auto
  margin-top: 1em
  box-shadow: 0 0 5px rgba(0, 0, 0, .5)
  +at-breakpoint($phone)
    +span-columns(12)

.subScrn
  +span-columns(12)
  background: #129bd1
  color: #333
  padding: 1em
  cursor: pointer
  margin-left: auto
  margin-right: auto
  margin-top: 1em
  box-shadow: 0 0 5px rgba(0, 0, 0, .5)
  +at-breakpoint($phone)
    +span-columns(12)

.infoBox
  padding: 1em
  float: left
  background: #6dbeec
  margin: 1em
  color: #333
  border: solid 1px #333
  +at-breakpoint($phone)
    +span-columns(10)

.right
  float: right

.stinky
  font-size: 0.6em
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  background-color: red
  color: white
  text-align: center
