* 
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

html 
  height: 100%

body
  //background: url('https://66.media.tumblr.com/d51a2a2502f70238adbb0c242c4e89dd/tumblr_ocqdob8xcZ1s8iqo7o1_1280.gif') no-repeat
  background: #333
  padding: 1em

h1
  color: #ccc
  font-family: arial, sans-serif

p
  color: #ccc
  font-family: arial, sans-serif

button
  background: #666
  color: #ccc
  cursor: pointer


.special
  color: yellow
  font-family: arial, sans-serif
